<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='css/cssID.css') }}">
    <script src="{{ url_for('static',filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static',filename='js/login.js') }}"></script>
    <title>Yobber login</title>
</head>

<body>
    <div id="loginPage" class="container-fluid">
        <div id="loginForm" class="jumbotron text-center">
        
            <div class="col-12">
                <video src="{{ url_for('static',filename='media/splash.mp4') }}" width="250px" height="auto" autoplay loop muted></video>
            </div>

        <form method="post" action="/login">
            <div class="col">
                <input class="col-xs-12" name="username" type="text" id="username" placeholder="Enter username">
            </div>
            <br>
            <div class="col">
                <input class="col-xs-12" name="password" type="password" id="password" placeholder="Enter password">
            </div>
            <br>
            <div class="col">
                <button class="btn btn-primary" type="submit" value="submit">Login</button>
            </div>
            <br>
            </form>

        </div>

        <div class="col fixed-bottom text-center">
            <p style="font-weight: bold;">Walumo Development <span id="date"></span></p>
        </div>

    </div>

    <script type="text/javascript">
        var d = new Date();
        var n = d.getFullYear();
        document.getElementById("date").innerHTML = "&copy" + n;
    </script>

</body>

</html>