{% extends 'main.html' %}

{% block body %}

<h1>Map stuff</h1>
<p>Usage
The offcanvas plugin utilizes a few classes and attributes to handle the heavy lifting:

.offcanvas hides the content
.offcanvas.show shows the content
.offcanvas-start hides the offcanvas on the left
.offcanvas-end hides the offcanvas on the right
.offcanvas-bottom hides the offcanvas on the bottom
Add a dismiss button with the data-bs-dismiss="offcanvas" attribute, which triggers the JavaScript functionality. Be sure to use the button element with it for proper behavior across all devices.</p>

{% endblock %}


{% block footer %}

<footer id="footer" class="fixed-bottom text-center">
    <p style="font-weight: bold;">Walumo Development <span id="date"></span></p>
</footer>

<script type="text/javascript">
var d = new Date();
var n = d.getFullYear();
document.getElementById("date").innerHTML = "&copy" + n;
</script>

{% endblock %}

