{% extends 'main.html' %}

{% block body %}

<div class="mx-2">
<form method="post" action="/newjob">
  <div class="form-group">
    <label for="title"><b>Job: </b></label>
    <input name="title" type="text" class="form-control" id="title" placeholder="Enter job title">
  </div>
  <div class="form-group">
    <label for="dropdown"><b>Payment by:</b></label>
    <select name="payment" class="form-control" id="dropdown">
      <option>Hourly</option>
      <option>By job</option>
      <option>Other / unspecified</option>
    </select>
  </div>
  <div class="form-group"> <!-- Date input -->
        <label class="control-label" for="date"><b>Date</b></label>
        <input name="datetime" class="form-control" id="datetime" name="datetime" placeholder="Enter date" type="datetime-local"/>
    </div>
  <div class="form-group"> <!-- Customer telephone -->
        <label class="control-label" for="telephone"><b>Contact:</b></label>
        <input name="telephone" class="form-control" id="telephone" name="telephone" placeholder="Customer phone" type="tel"/>
    </div>
  <div class="form-group">
    <label for="address"><b>Street address:</b></label>
    <textarea name="address" class="form-control" id="address" rows="1" placeholder="Street address"></textarea>
  </div>
  <div class="form-group">
    <label for="zipcode"><b>Zip code:</b></label>
    <textarea name="zipcode" class="form-control" id="zipcode" rows="1" placeholder="Enter zip code"></textarea>
  </div>
  <div class="form-group">
    <label for="city"><b>City:</b></label>
    <textarea name="city" class="form-control" id="city" rows="1" placeholder="Enter city"></textarea>
  </div>
  <div class="form-group">
    <label for="description"><b>Job description:</b></label>
    <textarea name="description" class="form-control" id="description" rows="8" placeholder="Add information about the job"></textarea>
  </div>
    <div class="btn-group"> <!-- Submit button -->
        <button class="btn btn-primary " name="submit" type="submit" href="/newjob">Add job</button>
        <a class="btn btn-danger" href="/addjob">Reset</a>
      </div>
</form>
</div>

{% endblock %}