<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ERROR</title>
</head>
<body style="background-color: #2f4f4f;">
    <div style="position: fixed; left: 25%; right:25%; bottom: 50%; max-width: 500px;">

        <h1 style="margin:auto; padding:auto;">OOPS!</h1>
        <h2 style="margin:auto; padding:auto">There was an error, click below to return to mapview:</h2>
        <br>
        <h1 style="background-color: black; margin:auto; padding:auto;"><a style=" color: darkslategrey;" href="/showmap">RETURN TO MAP</a></h1>
        
    </div>
</body>
</html>